 


/* *******************NAV BAR SECTION************************** */

.nav-bar {  
     
    padding:15px 30px 10px 30px; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
     background-color:#e7ece2;
     text-transform: uppercase;
  }   
  
  .sticky {
	position: fixed;
	top: 0;
    width: 100%;
    /* padding:0px 0px 8px 0px;
    font-size: 8px; */
}
.sticky + .nav-bar {
    padding-top: 80px;
}

  .logo img {
      align-items: left;
      width: 80px;
     
      
 }
 .sticky .logo img {
    align-items: left;
    /* width: 60px; */
   
    
}
 
 .menu-bar ul li {
     display: inline-block;  
     font-size: 8px;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     
 }

 .menu-bar ul li a {
    text-decoration: none;
    color: black;
    padding :10px; 
    font-size: 15px;  

 }

 .menu-bar a:hover {
    
        background: none;
     }

 .dropdown-menu ul li  a {
         color:white;
         font-weight: 400;
         padding:5px;
         
     }

 .dropdown-menu {
     background:black;
     text-align: left;
    
     
 }
 .dropdown-menu a:hover {

    background-color:#e5e4e2;
    transition-delay: -1s;
 }   


 /* ********************HEADER SECTION************** */


 header {
     text-align: center;
     background-color: orange;
     padding-bottom: 100px;
     background-image: url('../images/car_web.jpg'); 
     background-color: #C0C0C0;
     height: 100vh;
     background-size: cover;
     

 }
 .header1 h1 {
      
     font-size : 70px;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     margin-bottom: 20px;
     color:rgba(33, 112, 165, 0.705);
     text-align: center;
     padding-top: 0px;
 }
 .header1 p {
     font-size: 20px;
     color:white;
     margin-bottom:0;
     text-align: center;
     padding-bottom:20px;

 }
 header .button {
     display: inline-block;
     border : 1px solid rgb(0,174,218);
     background-color: rgb(0,174,218);
     text-decoration:  none;
     font-size: 14px;
     font-weight: 700;
     padding: 9px 9px;
     border-radius: 30px;
     color:white;

 }
 
 header a:hover {
     color:#00aeda;
     background: #222225;
     border-color: #222225;
     transition: all 1s ease-in-out;
   

 }

 .text h1 {
     text-align: center;

 }

  
  /* ********************Intro SECTION************** */



  /*-------------------------first introduction section------------------------*/

  #introduction {
    background-color:rgba(241, 232, 232, 0.116);
    color:#f5f2f7;
    font-weight: 400;
    color:black;
  }

    .tech_team {
      
      display: flex;
      justify-content:space-between;
      text-align: justify;
    }
   

  .team {   
   width:650px;   
   padding-top: 40px;
   padding-bottom: 100px;
   margin-left:20px;
   padding-left:4px; 
}

  
   
  .picture img {
      width: 60%;
      float:right;
      margin-top:70px;
      padding-right: 50px;
      padding-top:30px;
       
  }

  .team h1 {
      
      font-size:30px;
      margin-bottom: 30px; 
      padding-left:10px;
  }
  .team p {
      padding-left:10px;
      
  }
   

/*-------------------------second introduction section------------------------*/



.competition {
    display: flex;
    justify-content:space-between;
    text-align: justify;
     

}

  .compt {
    
    width:650px;   
    padding-top: 40px;
    padding-bottom: 100px;
    margin-left:20px;   
    padding-left:4px;
    
  }

  .picture2 {
    width: 40%;
    float:right;
    margin-top:70px;
    margin-right:20px;
    padding-right: 50px;
    padding-top:30px;
    padding-left:20px;
    
 }
  .compt  h1 {
    font-size:30px;
    margin-bottom: 30px; 
    padding-left:10px;
     
}

.compt p {
    /* line-height: 20px; */
    padding-left:10px;
    text-align: justify;

}
 
    .departments {
         
        margin-left:10px;
    } 

   .departments .headings h1  {
        text-align: center;
        color:black;
        text-transform: uppercase;
        font-size: 30px;
    }
      
    .new {
        display: flex;
        justify-content: space-between;
        

    }

    .new p h2 h5 {
        text-align: justify;
        padding-right: 20px;
        padding-left:20px;
    }
    .col p {
              text-align: justify;
              font-size:12px;
    }

    .container .foot {
        margin-left:10px;
        padding-right:10px;
    }
 














/* |||||||**************FOOTER_SECTION***************|||||||||||||||||| */


#social {
    background-color:#555;
    text-align: center;
   
     
}
.icons {
    padding-bottom: 30px;
}
.icons i {
    
    padding-right: 20px;
    padding-left:20px;
    font-size: 20px;
    padding-top:20px;
    margin-top: 40px;
    
    
  }
  .fa a {
      color: white;
      text-decoration:none;
  }

  .developer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .developer a {
      text-decoration: none;
      color:white;
    
  }

   .icons > i a:hover {
    color:#3b5998;
    
   }
   .icons > i:nth-child(2) a:hover {
       color:#38A1F3;
   }

   .icons > i:nth-child(3) a:hover {
    color:#8a3ab9;
}


   